@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Raleway:wght@300&display=swap");
h3, h4, h5, h6, h2, h1 {
  color: #313638;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
}

h1 {
  color: #fdca40;
}

p {
  color: #0b090b;
  font-size: 1.2rem;
  font-family: "Raleway", sans-serif;
}

textarea, input {
  font-family: "Raleway", sans-serif;
  font-size: 1.3rem;
  color: #0b090b;
  border-color: #e8e9eb;
  border: 0.5%;
  border-style: solid;
  border-radius: 3%;
  padding: 2%;
}

.formulario__boton, button {
  font-family: "Poppins", sans-serif;
  font-size: 1.3rem;
  width: 300%;
  padding: 8%;
  margin: 2%;
  color: #e8e9eb;
  text-transform: uppercase;
  background-color: #fdca40;
}

.SS, .CS, .HT, .SAI, .AI, .PS {
  background-color: #0b090b;
  margin: auto;
  width: 30%;
  height: 5%;
  border: solid;
  border-color: #fdca40;
  border-radius: 5%;
  z-index: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.contenedor {
  width: 90%;
  max-width: 1200px;
  height: auto;
  margin: auto;
}

h1 {
  font-size: 5rem;
  margin: 1%;
  padding: 0.5%;
  text-align: center;
}

h2 {
  margin: 1%;
  text-align: center;
}

h3, h4, h5, h6 {
  font-size: 1.3rem;
  margin: 3%;
  text-align: center;
}

p {
  margin: 1%;
  padding: 1%;
}

body {
  text-align: center;
}

li {
  list-style: none;
  font-family: "Raleway", sans-serif;
  font-size: 1.2rem;
}

a {
  color: inherit;
  text-decoration: none;
  transition: opacity 0.5s;
}
a:hover {
  opacity: 60%;
  text-decoration: none;
  color: #0b090b;
}

span {
  color: #313638;
  font-style: italic;
}

img {
  max-width: 100%;
  height: auto;
}

nav ul {
  display: flex;
}
nav ul li {
  margin: 2%;
}
nav ul li a {
  transition: opacity 0.5s;
}
nav ul li a:hover {
  opacity: 60%;
  text-decoration: none;
  color: #0b090b;
}

.mb__header {
  display: none;
}

header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: #313638;
  height: auto;
  width: 100%;
  grid-area: header;
}

.grid__inicio > header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
}

.grid__bio > header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
}

.grid__contacto > header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
}
header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  color: #e8e9eb;
  height: auto;
  width: 100%;
}
header nav ul h1 {
  margin: auto;
  font-size: 2rem;
  color: #fdca40;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
}

footer {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  background-color: #fdca40;
  grid-area: footer;
}

.grid__inicio > footer {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
}

.grid__bio > footer {
  -ms-grid-row: 9;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
}

.grid__contacto > footer {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
}
footer .footer__flex {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
footer .footer__flex p {
  margin-right: 10%;
  font-size: 0.9rem;
}
footer .footer__flex p ul .footer__iconos {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 15%;
}

.grid__index {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto auto;
  grid-row-gap: 2.5%;
  grid-column-gap: 1%;
  height: 100vh;
  text-align: center;
  grid-template-areas: "head" "p" "foot";
}

.header__index {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: head;
}

.texto__index {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  height: 10vh;
  grid-area: p;
  font-style: italic;
}

.footer__index {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  height: 100%;
  grid-area: foot;
}

.grid__ilustraciones {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr auto 0.5fr;
  grid-row-gap: 2%;
  grid-column-gap: 1%;
  grid-template-areas: "header" "galeria" "footer";
}

.galeria {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: galeria;
}
.galeria ul {
  display: grid;
  grid-template-columns: 35% 35% 10% 35%;
  grid-template-rows: 20% 20% 20% 20%;
  grid-row-gap: 0.5%;
  grid-column-gap: 0.5%;
  justify-content: center;
  grid-template-areas: "i8 i3 i2 i2" "i7 i1 i5 i5" "i6 i6 i6 i4" "i6 i6 i6 i4";
}
.galeria ul a:hover {
  opacity: 100%;
}
.galeria ul a img {
  filter: grayscale(100%);
  border-radius: 1.5%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: filter 0.5s, transform 0.5s;
}
.galeria ul a img:hover {
  filter: grayscale(0%);
  transform: scale(98%);
}

.img1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: i8;
}

.img2 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: i3;
}

.img3 {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  -ms-grid-column-span: 3;
  grid-area: i2;
}

.img4 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: i7;
}

.img6 {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
  -ms-grid-column-span: 3;
  grid-area: i5;
}

.img5 {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: i1;
}

.img8 {
  -ms-grid-row: 5;
  -ms-grid-row-span: 3;
  -ms-grid-column: 7;
  grid-area: i4;
}

.img7 {
  -ms-grid-row: 5;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-area: i6;
}

.fondo-modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  display: none;
}

#modal-1:target {
  display: block;
}

#modal-2:target {
  display: block;
}

#modal-3:target {
  display: block;
}

#modal-4:target {
  display: block;
}

#modal-5:target {
  display: block;
}

#modal-6:target {
  display: block;
}

#modal-7:target {
  display: block;
}

#modal-8:target {
  display: block;
}

.modal {
  border-radius: 2%;
  max-width: 2500px;
  height: 95vh;
  margin: 1%;
}

.modal__flecha-1 {
  color: #fdca40;
  width: 5%;
  height: auto;
  position: absolute;
  top: 44vh;
  right: 3vh;
}

.modal__flecha-2 {
  color: #fdca40;
  width: 5%;
  height: auto;
  position: absolute;
  top: 45vh;
  right: 198vh;
  transform: rotate(180deg);
}

.modal__cerrar {
  color: #fdca40;
  width: 6%;
  height: auto;
  position: absolute;
  top: 0vh;
  right: 1%;
}

.grid__inicio {
  height: 100vh;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 0.5fr auto 0.5fr;
  grid-row-gap: 2.5%;
  grid-column-gap: 1%;
  grid-template-areas: "header header" "intro imagen" "footer footer";
}

.section__imagen {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: imagen;
}

.grid__bio > .section__imagen {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
.section__imagen img {
  filter: brightness(50%);
  border-radius: 3%;
  animation-name: img_aparece;
  animation-duration: 1s;
  animation-iteration-count: 1;
  transition: transform 0.5s, filter 0.5s;
}
.section__imagen img:hover {
  transform: scale(98%);
  filter: brightness(100%);
}

.section__intro {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: intro;
}
.section__intro h2 {
  margin-top: 8%;
}
.section__intro p {
  margin-left: 5%;
  animation-name: intro_aparece;
  animation-duration: 1s;
  animation-iteration-count: 1;
}

button {
  max-width: 15%;
  height: 2%;
  padding: 0;
  margin: 0;
  transition: background-color 0.5s, border-color 0.5s, color 0.5s, transform 0.5s;
}
button:hover {
  cursor: pointer;
  background-color: #e8e9eb;
  color: #fdca40;
  border-color: #fdca40;
  transform: scale(95%);
}

@keyframes intro_aparece {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0%);
  }
}
@keyframes img_aparece {
  from {
    transform: translateX(50%);
  }
  to {
    transform: translateX(0%);
  }
}
.grid__bio {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr auto 0.5fr auto 0.5fr;
  grid-row-gap: 2.5%;
  grid-column-gap: 1%;
  grid-template-areas: "header header" "bio imagen" "habilidades habilidades" "ilustracion desarrollo" "footer footer";
}

.section__bio {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: bio;
  margin: 2% 20%;
  margin-right: 10%;
}

.section__img-bio {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: imagen;
}

.grid__bio > .section__img-bio {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
.section__img-bio .img__bio {
  max-width: 55%;
  border-radius: 50%;
  border-color: #e8e9eb;
  border-style: solid;
  border: 0.5%;
  transition: border-color 0.3s, transform 5s;
}
.section__img-bio .img__bio:hover {
  border-color: #fdca40;
  transform: rotate(360deg);
}

.h2__habilidades {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: habilidades;
}

.section__ilustracion {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  grid-area: ilustracion;
}

.section__desarrollo {
  -ms-grid-row: 7;
  -ms-grid-column: 3;
  grid-area: desarrollo;
}

.PS .PS-por {
  border: solid;
  border-color: #0b090b;
  border-radius: 5%;
  color: #fdca40;
  background-color: #313638;
  animation-name: porcentaje90;
  animation-duration: 5s;
  animation-iteration-count: 1;
  max-width: 90%;
}

.AI .AI-por {
  border: solid;
  border-color: #0b090b;
  border-radius: 5%;
  color: #fdca40;
  background-color: #313638;
  animation-name: porcentaje80;
  animation-duration: 5s;
  animation-iteration-count: 1;
  max-width: 80%;
}

.SAI .SAI-por {
  border: solid;
  border-color: #0b090b;
  border-radius: 5%;
  color: #fdca40;
  background-color: #313638;
  animation-name: porcentaje100;
  animation-duration: 5s;
  animation-iteration-count: 1;
  max-width: 100%;
}

.HT .HT-por {
  border: solid;
  border-color: #0b090b;
  border-radius: 5%;
  color: #fdca40;
  background-color: #313638;
  animation-name: porcentaje80;
  animation-duration: 5s;
  animation-iteration-count: 1;
  max-width: 80%;
}

.CS .CS-por {
  border: solid;
  border-color: #0b090b;
  border-radius: 5%;
  color: #fdca40;
  background-color: #313638;
  animation-name: porcentaje80;
  animation-duration: 5s;
  animation-iteration-count: 1;
  max-width: 80%;
}

.SS {
  color: #fdca40;
}
.SS .SS-por {
  border: solid;
  border-color: #0b090b;
  border-radius: 5%;
  color: #fdca40;
  background-color: #313638;
  animation-name: porcentaje80;
  animation-duration: 5s;
  animation-iteration-count: 1;
  max-width: 80%;
}

@keyframes porcentaje100 {
  from {
    width: 10%;
  }
  to {
    width: 100%;
  }
}
@keyframes porcentaje90 {
  from {
    width: 10%;
  }
  to {
    width: 90%;
  }
}
@keyframes porcentaje80 {
  from {
    width: 10%;
  }
  to {
    width: 80%;
  }
}
.grid__contacto {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 0.4fr auto 0.2fr;
  grid-row-gap: 2.5%;
  grid-column-gap: 0%;
  grid-template-areas: "header header" "contacto contacto" "footer footer";
}

.contacto__flex {
  margin-right: 30%;
}

form {
  display: flex;
  margin-right: 60%;
}

fieldset {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: none;
}

/* INPUT*/
input {
  background-color: #e8e9eb;
  position: relative;
  right: 30%;
  margin: 1%;
  transition: border-color 0.5s, transform 0.5s;
}
input:hover {
  border-color: #fdca40;
  transform: scale(105%);
}

/* TEXTAREA*/
textarea {
  background-color: #e8e9eb;
  margin: 1%;
  position: relative;
  right: 30%;
  transition: border-color 0.5s, transform 0.5s;
}
textarea:hover {
  border-color: #fdca40;
  transform: scale(105%);
}

/* BOTON*/
.formulario__boton {
  position: relative;
  right: 190%;
  transition: background-color 0.5s, border-color 0.5s, color 0.5s, transform 0.5s;
}
.formulario__boton:hover {
  cursor: pointer;
  background-color: #e8e9eb;
  color: #fdca40;
  border-color: #fdca40;
  transform: scale(105%);
}

.imagen__contacto {
  max-width: 50%;
  border-radius: 50%;
  border-color: #e8e9eb;
  border-style: solid;
  border: 0.5%;
  transition: border-color 0.3s, transform 0.3s;
}
.imagen__contacto:hover {
  border-color: #fdca40;
  transform: scale(105%);
}

.contacto__cuadro {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  grid-area: contacto;
  padding: 3%;
  margin: auto;
  border-radius: 2%;
  box-shadow: 3px 5px 20px #313638;
  width: 90%;
  transition: transform 0.5s;
}
.contacto__cuadro:hover {
  transform: scale(98%);
}

@media screen and (max-width: 768x) {
  h1 a {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 768px) {
  .mb__header {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .emebe__header {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  h2 {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 768px) {
  h3, h4, h5, h6 {
    font-size: 1rem;
  }
}

@media screen and (max-width: 768px) {
  li {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 768px) {
  p {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 768px) {
  nav ul li {
    font-size: 0.9rem;
    margin: 1%;
  }
}

@media screen and (max-width: 768px) {
  button {
    padding: 1px;
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 768px) {
  .grid__index {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto 5%;
    grid-row-gap: 1%;
    grid-column-gap: 1%;
    grid-template-areas: "head" "p" "foot";
  }
  .header__index {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .texto__index {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .footer__index {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }
}
@media screen and (max-width: 768px) and (orientation: landscape) {
  .grid__index {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto 12%;
    grid-row-gap: 1%;
    grid-column-gap: 1%;
  }
}

@media screen and (max-width: 768px) {
  .grid__inicio {
    height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% auto auto 5%;
    grid-row-gap: 1%;
    grid-column-gap: 1%;
    grid-template-areas: "header" "intro" "imagen" "footer";
  }
  .grid__inicio .section__intro h2 {
    margin: auto;
  }
  .grid__inicio .section__intro p {
    margin: 3%;
  }
  .grid__inicio > header {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }
  .grid__inicio > footer {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }
  .section__imagen {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }
  .section__intro {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .section__img-bio {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }
}
@media screen and (max-width: 768px) and (orientation: landscape) {
  .grid__inicio {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 15% auto auto 12%;
    grid-row-gap: 1%;
    grid-column-gap: 1%;
  }
  .grid__inicio .section__intro p {
    margin: 1%;
  }
}

@media screen and (max-width: 768px) {
  .galeria ul {
    display: grid;
    grid-template-columns: 80%;
    grid-template-rows: repeat(8, auto);
    grid-row-gap: 1%;
    grid-column-gap: 1%;
    margin: 3%;
    grid-template-areas: "i8" "i3" "i2" "i7" "i1" "i5" "i6" "i4";
  }
  .galeria ul .img8 {
    margin-bottom: 40%;
  }
  .galeria ul .img1 {
    margin-top: -15%;
  }
  .img1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .img2 {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .img3 {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }
  .img4 {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
  }
  .img6 {
    -ms-grid-row: 11;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }
  .img5 {
    -ms-grid-row: 9;
    -ms-grid-column: 1;
  }
  .img8 {
    -ms-grid-row: 15;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
  }
  .img7 {
    -ms-grid-row: 13;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }
}
@media screen and (max-width: 768px) and (orientation: landscape) {
  .galeria ul {
    display: grid;
    grid-template-columns: 70%;
    grid-template-rows: repeat(8, auto);
    grid-row-gap: 1%;
    grid-column-gap: 1%;
  }
  .galeria ul .img8 {
    margin-bottom: 40%;
  }
}

@media screen and (max-width: 768px) {
  .modal {
    border-radius: 2%;
    width: 80%;
    height: auto;
    margin-top: 50%;
  }
}

@media screen and (max-width: 768px) {
  .modal__flecha-1 {
    color: #fdca40;
    width: 5%;
    height: auto;
    position: absolute;
    top: 10vh;
    right: 3vh;
  }
}

@media screen and (max-width: 768px) {
  .modal__flecha-2 {
    color: #fdca40;
    width: 5%;
    height: auto;
    position: absolute;
    top: 10vh;
    right: 43vh;
    transform: rotate(180deg);
  }
}

@media screen and (max-width: 768px) {
  .modal__cerrar {
    color: #fdca40;
    width: 6%;
    height: auto;
    position: absolute;
    top: 0vh;
    right: 1%;
  }
}

@media screen and (max-width: 768px) {
  .grid__contacto {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% auto 5%;
    grid-row-gap: 1%;
    grid-column-gap: 1%;
    height: 100vh;
    grid-template-areas: "header" "contacto" "footer";
  }
  .grid__contacto .contacto__cuadro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3%;
  }
  .grid__contacto .contacto__flex {
    margin: 1%;
  }
  .grid__contacto form {
    margin: auto;
  }
  .grid__contacto form input {
    right: 0%;
    font-size: 1rem;
  }
  .grid__contacto form .formulario__boton {
    right: 93%;
  }
  .grid__contacto form textarea {
    right: 0%;
    font-size: 1rem;
  }
  .grid__contacto > header {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }
  .grid__contacto > footer {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }
  .contacto__cuadro {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }
}
@media screen and (max-width: 768px) and (orientation: landscape) {
  .grid__contacto {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 15% auto 12%;
    grid-row-gap: 1%;
    grid-column-gap: 1%;
  }
}

@media screen and (max-width: 768px) {
  footer .footer__flex {
    position: relative;
  }
}

@media screen and (max-width: 768px) {
  .grid__bio {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% auto auto auto auto auto 5%;
    grid-row-gap: 1%;
    grid-column-gap: 1%;
    grid-template-areas: "header" "imagen" "bio" "habilidades" "ilustracion" "desarrollo" "footer";
  }
  .grid__bio .section__bio {
    margin: auto;
  }
  .grid__bio > header {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }
  .grid__bio > footer {
    -ms-grid-row: 13;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }
  .grid__bio > .section__imagen {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .section__bio {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }
  .grid__bio > .section__img-bio {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .h2__habilidades {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }
  .section__ilustracion {
    -ms-grid-row: 9;
    -ms-grid-column: 1;
  }
  .section__desarrollo {
    -ms-grid-row: 11;
    -ms-grid-column: 1;
  }
}
@media screen and (max-width: 768px) and (orientation: landscape) {
  .grid__bio {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 15% auto auto auto auto auto 12%;
    grid-row-gap: 1%;
    grid-column-gap: 1%;
  }
  .grid__bio .img__bio {
    margin-top: 2%;
  }
  .grid__bio .section__desarrollo {
    margin-bottom: 2%;
  }
}