
// BIO

.grid__bio {
    height: 100vh;
    @include grid(repeat(2, 1fr), 1fr auto 0.5fr auto 0.5fr, 2.5%, 1%);
    grid-template-areas:
        "header header"
        "bio imagen"
        "habilidades habilidades"
        "ilustracion desarrollo"
        "footer footer"
}

// SECCIONES

.section__bio {
    grid-area: bio;
    margin: 2% 20%;
    margin-right: 10%;
    
}

.section__img-bio {
    grid-area: imagen;
    .img__bio {
        max-width: 55%;
        border-radius: 50%;
        border-color: $colorFondo;
        border-style: solid;
        border: 0.5%;
        transition: border-color 0.3s, transform 5s;
        &:hover {
            border-color: $colorDestacado;
            transform: rotate(360deg);
        }
    }
}

.h2__habilidades {
    grid-area: habilidades;
}

.section__ilustracion {
    grid-area: ilustracion;
}

.section__desarrollo {
    grid-area: desarrollo;
}

// BARRAS DE HABILIDADES

.PS {
    @extend %barras;
    .PS-por {
        border: solid;
        border-color: $colorTextos;
        border-radius: 5%;
        color: $colorDestacado;
        background-color: $colorTitulos;
        animation-name: porcentaje90;
        animation-duration: 5s;
        animation-iteration-count: 1;
        max-width: 90%;
    }
}

.AI {
    @extend %barras;
    .AI-por {
        border: solid;
        border-color: $colorTextos;
        border-radius: 5%;
        color: $colorDestacado;
        background-color: $colorTitulos;
        animation-name: porcentaje80;
        animation-duration: 5s;
        animation-iteration-count: 1;
        max-width: 80%;
    }
}

.SAI {
    @extend %barras;
    .SAI-por {
        border: solid;
        border-color: $colorTextos;
        border-radius: 5%;
        color: $colorDestacado;
        background-color: $colorTitulos;
        animation-name: porcentaje100;
        animation-duration: 5s;
        animation-iteration-count: 1;
        max-width: 100%;
    }
}

.HT {
    @extend %barras;
    .HT-por {
        border: solid;
        border-color: $colorTextos;
        border-radius: 5%;
        color: $colorDestacado;
        background-color: $colorTitulos;
        animation-name: porcentaje80;
        animation-duration: 5s;
        animation-iteration-count: 1;
        max-width: 80%;
    }
}

.CS {
    @extend %barras;
    .CS-por {
        border: solid;
        border-color: $colorTextos;
        border-radius: 5%;
        color: $colorDestacado;
        background-color: $colorTitulos;
        animation-name: porcentaje80;
        animation-duration: 5s;
        animation-iteration-count: 1;
        max-width: 80%;
    }
}

.SS {
    color: $colorDestacado;
    @extend %barras;
    .SS-por {
        border: solid;
        border-color: $colorTextos;
        border-radius: 5%;
        color: $colorDestacado;
        background-color: $colorTitulos;
        animation-name: porcentaje80;
        animation-duration: 5s;
        animation-iteration-count: 1;
        max-width: 80%;
    }
}

// ANIMACION PORCENTAJES

@keyframes porcentaje100 {
    from {
        width: 10%;
    }
    to {
        width: 100%;
    }
}

@keyframes porcentaje90 {
    from {
        width: 10%;
    }
    to {
        width: 90%;
    }
}

@keyframes porcentaje80 {
    from {
        width: 10%;
    }
    to {
        width: 80%;
    }
}