.grid__contacto {
    height: 100vh;
    @include grid(repeat(2, 1fr), 0.4fr auto 0.2fr, 2.5%, 0%);
    grid-template-areas:
        "header header"
        "contacto formulario"
        "footer footer"
    }




.contacto__flex {
    grid-area: contacto;
    margin: 2% 20%;
    margin-right: 10%;
        p {
    margin: auto;

    }
}

form {
    display: flex;
    margin-top:2%;
    margin-right: 10%;
    grid-area: formulario;    
}

fieldset {
    @include flex (column, space-evenly, center);
    border: none;
}

                                                        /* INPUT*/

input {
    @extend %contacto;
    background-color: $colorHeader;
    transition: border-color 0.5s;
        &:hover{
            border-color:$colorDestacado;
        }
}

                                                        /* TEXTAREA*/

textarea {
    @extend %contacto;
    background-color: $colorHeader;
    transition: border-color 0.5s;
        &:hover {
        border-color: $colorDestacado;
    }
}

                                                        /* BOTON*/

.formulario__boton {
    @extend %boton;
    transition: background-color 0.5s;
        &:hover {
            background-color: $colorFondo;
            color: $colorDestacado;
            border-color: $colorDestacado;
    }
}

