.grid__contacto {
    height: 100vh;
    @include grid(repeat(2, 1fr), 0.4fr auto 0.2fr, 2.5%, 0%);
    grid-template-areas:
        "header header"
        "contacto contacto"
        "footer footer"
    }




.contacto__flex {
    margin-right: 15%;
}

form {
    display: flex;
    margin-right: 60%;
    // grid-area: formulario;    
}

fieldset {
    @include flex (column, space-evenly, center);
    border: none;
}

                                                        /* INPUT*/

input {
    @extend %contacto;
    background-color: $colorFondo;
    position:relative;
    right:30%;
    margin: 1%;
    transition: border-color 0.5s;
        &:hover{
            border-color:$colorDestacado;
        }
}

                                                        /* TEXTAREA*/

textarea {
    @extend %contacto;
    background-color: $colorFondo;
    margin: 1%;
    position:relative;
    right:30%;
    transition: border-color 0.5s;
        &:hover {
        border-color: $colorDestacado;
    }
}

                                                        /* BOTON*/

.formulario__boton {
    @extend %boton;
    transition: background-color 0.5s;
    position:relative;
    right:190%;
        &:hover {
            cursor:pointer;
            background-color: $colorFondo;
            color: $colorDestacado;
            border-color: $colorDestacado;
    }
}

// CUADRO

.contacto__cuadro {
    @include flex(row, center, center);
    grid-area: contacto;
    padding: 3%;
    margin:auto;
    border-radius: 2%;
    box-shadow: 3px 5px 20px $colorTitulos;
    width: 90%;
    transition: transform 0.5s;
    &:hover {
        transform:scale(98%);
    }
}