// GALERIA

.galeria 
    ul {
    @include grid( 30vw 36vw, 15% 15%, 1%, 1%);
    justify-content: center;
    margin: 1%;
    grid-template-areas: 
    "foto3 foto1"
    "foto2 foto2";
        .img1 {
            grid-area: foto1;
            object-fit: cover;
            width: 100%;
            height: 100%; 
        }
        .img2 {
            grid-area: foto2;
            width: 100%;
            height: 100%;
            object-fit: cover;
            margin-bottom:1%;
            
        }
        .img3 {
            grid-area: foto3;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
}