// GRID ILUSTRACIONES

.grid__ilustraciones {
    @include grid(100%, 1fr auto 0.5fr, 2%, 1%);
    grid-template-areas:
    "header"
    "galeria"
    "footer";
}


// GALERIA

.galeria {
    animation: galeria__aparece 1s 1; 
    grid-area: galeria;
    ul {
        @include grid(35% 35% 10% 35%, 20% 20% 20% 20%, 0.5%, 0.5%);
        justify-content: center;
        grid-template-areas: 
        "i8 i3 i2 i2"
        "i7 i1 i5 i5"
        "i6 i6 i6 i4"
        "i6 i6 i6 i4"
        ;
        a {
            &:hover {
                opacity: 100%;
            }
            img {
                filter:grayscale(100%);
                border-radius: 1.5%;
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: filter 0.5s, transform 0.5s;
                &:hover {
                    filter:grayscale(0%);
                    transform:scale(98%);
                }
            }
        }
    }
}

    .img1{
        grid-area: i8;   
        animation: animacion__galeria 1s 1; 
    }
    
    .img2 {
        grid-area: i3; 
        animation: animacion__galeria 1.5s 1;
    }

    .img3 {
        grid-area: i2; 
        animation: animacion__galeria 2s 1;
    }
    
    .img4 {
        grid-area: i7; 
        animation: animacion__galeria 2.5s 1;
    }
    
    .img6 {
        grid-area: i5; 
        animation: animacion__galeria 3s 1;
    }
    
    .img5 {
        grid-area: i1; 
        animation: animacion__galeria 3.5s 1;
    }
    
    .img8 {
        grid-area: i4; 
        animation: animacion__galeria 4s 1;
    }
    
    .img7 {
        grid-area: i6; 
        animation: animacion__galeria 4.5s 1;
    }


// ANIMACION GALERIA

@keyframes animacion__galeria {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}

@keyframes galeria__aparece {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0%);
    }
}