// GENERAL

h1{
    a {
    @media screen and (max-width: 992x) {
    font-size: $tmDestacadoMQ;
    }
} } 

.mb__header {
    @media screen and (max-width: 992px) {
        display: block;
    }
}

.emebe__header {
    @media screen and (max-width: 992px) {
        display: none;
    }
}


h2 {
    @media screen and (max-width: 992px) {
    font-size: $tmTitulosMQ;
    }
}

h3, h4, h5, h6 {
    @media screen and (max-width: 992px) {
    font-size: $tmSubTitulosMQ;
    }
}

li {
    @media screen and (max-width: 992px) {
    font-size: $tmTextosMQ;
    }
}

p {
    @media screen and (max-width: 992px) {
    font-size: $tmTextosMQ;
    }
}

nav {
    ul{
        li { 
    @media screen and (max-width: 992px) {
    font-size: $tmTextosMQ;
    margin:1%;
            }
        }
    }
}

button {
    @media screen and (max-width:992px) {
    padding: 1px;
    font-size: $tmTextosMQ;
    }
}


// INDEX

.grid__index {
    @media screen and (max-width:992px) {
    @include grid(100%, auto auto 5%, 2.5%, 1%);
    grid-template-areas:
    "head"
    "p"
    "foot";
    }
}



// INICIO

.grid__inicio {
    @media screen and (max-width: 992px) {
        height: 100vh;
        @include grid(100%, 10% auto auto 5%, 1%, 1%);
        grid-template-areas: 
        "header"
        "intro"
        "imagen"
        "footer";
        .section__intro {
            h2 {
                margin:auto;
            }
            p {
                margin:3%;
            }
        }
    }
}

// ILUSTRACIONES

// GALERIA

.gri__ilustraciones {
    @media screen and (max-width: 992px) {
        @include grid(100%, 10% auto 5%, 1%, 1%);
        grid-template-areas:
        "header"
        "galeria"
        "footer";
    }
}
.galeria {
    @media screen and (max-width: 992px) {
        ul {
                grid-template-columns: 70vw;
                grid-template-rows: repeat(8, 15%);
                margin: 3%;
                grid-gap: 1%;
                grid-template-areas: 
        "i8"
        "i3"
        "i2"
        "i7"
        "i1"
        "i5"
        "i6"
        "i4"
        ;
            .img8 {
                margin-bottom: 100%;
            }
            .img1 {
                margin-top: -15%;
            }
        }
    }

}

// MODAL

.modal {
    @media screen and (max-width: 992px) {
    border-radius: 2%;
    width: 80%;
    height: auto;
    margin-top: 50%;
    }   
}

.modal__flecha-1 {
    @media screen and (max-width: 992px) {
    color: $colorDestacado;
    width: 5%;
    height: auto;
    position: absolute;
    top: 10vh;
    right: 3vh;
    }
}

.modal__flecha-2 {
    @media screen and (max-width: 992px) {
    color: $colorDestacado;
    width: 5%;
    height: auto;
    position: absolute;
    top: 10vh;
    right: 43vh;
    transform:rotate(180deg);
    }
}

.modal__cerrar {
    @media screen and (max-width: 992px) {
    color: $colorDestacado;
    width: 6%;
    height: auto;
    position: absolute;
    top: 0vh;
    right: 1%;
    }
}

// CONTACTO

.grid__contacto {
    @media screen and (max-width: 992px) {
    @include grid(100%, 10% auto 5%, 1%, 1%);
    height: 100vh;
    grid-template-areas:
        "header"
        "contacto" 
        "footer";
        .contacto__cuadro {
            @include flex(column,center,center);
        }
        .contacto__flex {
            margin: 1%;
            }
            form {
                margin: auto;
                input {
                    right: 0%;
                    font-size: $tmFormularioMQ;
                }
                .formulario__boton {
                    right: 93%;
                }
                textarea {
                    right: 0%;
                    font-size: $tmFormularioMQ;
                }
            }
            
    }
}

// FOOTER

footer {
    @media screen and (max-width: 992px) {
        .footer__flex {
            position: relative;
        }
}
}

// BIO

.grid__bio {
    @media screen and (max-width: 992px) {
        @include grid(100%, 10% auto auto auto auto auto 5%, 1%, 1%);
        grid-template-areas: 
        "header"
        "imagen"
        "bio"
        "habilidades"
        "ilustracion"
        "desarrollo"
        "footer";
        .section__bio {
            margin: auto;
        }

    }

}