// GENERAL

h1{
    a {
    @media screen and (max-width: 767px) {
    font-size: $tmDestacadoMQ;
    }
} } 


h2 {
    @media screen and (max-width: 767px) {
    font-size: $tmTitulosMQ;
    }
}

h3, h4, h5, h6 {
    @media screen and (max-width: 767px) {
    font-size: $tmSubTitulosMQ;
    }
}

p {
    @media screen and (max-width: 767px) {
    font-size: $tmTextosMQ;
    }
}

li { 
    @media screen and (max-width: 767px) {
    font-size: $tmTextosMQ;
    }
}

header{
    nav {
    ul {
        margin: 1%;
        
        }
    }
}

// INDEX

.grid__index {
    @media screen and (max-width: 767px) {
    @include grid(100%, auto auto 6%, 2.5%, 1%);
    grid-template-areas:
    "head"
    "p"
    "foot"
    }
}

// INICIO

.grid__inicio {
    @media screen and (max-width: 767px) {
        @include grid(100%, auto auto auto auto, 2.5%, 1%);
        grid-template-areas: 
        "header"
        "intro"
        "imagen"
        "footer";
    }
}

// ILUSTRACIONES

// GALERIA

.galeria {
@media screen and (max-width: 767px) {
    ul {
            grid-template-columns: 70vw;
            grid-template-rows: 15% 15% 15%;
            margin: 3%;
            grid-gap: 1%;
            grid-template-areas: 
    "foto3"
    "foto1"
    "foto2";
            .img2 {
                margin-bottom: 5%;
            }

        }
    }

}

// CONTACTO

.grid__contacto {
    @media screen and (max-width: 767px) {
    @include grid(100%, auto auto auto auto, 2.5%, 1%);
    grid-template-areas:
        "header"
        "contacto" 
        "formulario"
        "footer";

        .contacto__flex {
            margin: auto;
            }
            
        form {
            margin:auto;    
        }
    }
}

// FORMULARIO

input {
    @media screen and (max-width: 767px) {
    font-size: $tmFormularioMQ;
    }
}

textarea {
    @media screen and (max-width: 767px) {
        font-size: $tmFormularioMQ;
        }
}

// FOOTER

footer {
    @media screen and (max-width: 767px) {
        div {
            p {
                display:none;
            }
            nav {
                ul {
                    position: relative;
                    top: 35%;
                }
            }    
    }   }
}