// GENERAL

h1{
    a {
    @media screen and (max-width: 768x) {
    font-size: $tmDestacadoMQ;
    }
} } 

.mb__header {
    @media screen and (max-width: 768px) {
        display: block;
    }
}

.emebe__header {
    @media screen and (max-width: 768px) {
        display: none;
    }
}


h2 {
    @media screen and (max-width: 768px) {
    font-size: $tmTitulosMQ;
    }
}

h3, h4, h5, h6 {
    @media screen and (max-width: 768px) {
    font-size: $tmSubTitulosMQ;
    }
}

li {
    @media screen and (max-width: 768px) {
    font-size: $tmTextosMQ;
    }
}

p {
    @media screen and (max-width: 768px) {
    font-size: $tmTextosMQ;
    }
}

nav {
    ul{
        li { 
    @media screen and (max-width: 768px) {
    font-size: $tmTextosMQ;
    margin:1%;
            }
        }
    }
}

button {
    @media screen and (max-width:768px) {
    padding: 1px;
    font-size: $tmTextosMQ;
    }
}


// INDEX

.grid__index {
    @media screen and (max-width:768px) {
    height: 100vh;
    @include grid(100%, auto auto 5%, 0%, 0%);
    grid-template-areas:
    "head"
    "p"
    "foot";
    }
    @media screen and (max-width:768px) and (orientation: landscape) {
        @include grid(100%, auto auto 12%, 0%, 0%);
    }
}



// INICIO

.grid__inicio {
    @media screen and (max-width: 768px) {
        height: 100vh;
        @include grid(100%, 10% auto auto 5%, 1%, 1%);
        grid-template-areas: 
        "header"
        "intro"
        "imagen"
        "footer";
        .section__intro {
            h2 {
                margin:auto;
            }
            p {
                margin:3%;
            }
        }
        .section__imagen {
            img {
                width: 70%;    
            } 
        }
    }

    @media screen and (max-width: 768px) and (orientation:landscape) {
        @include grid(50% 50%, 15% auto 12%, 1%, 0%);
        height: 100vh;
        grid-template-areas: 
        "header header"
        "intro imagen"
        "footer footer";
        .section__intro {
            p {
            margin:1%;
            }
        }
        .section__imagen {
            img {
                width: 60%;    
            }
        }
    }
}

// ILUSTRACIONES

// GALERIA

.galeria {

    @media screen and (min-width: 768px) and (max-width:1400px) {
        ul {
        @include grid(25% 25% 5% 25%, 30% 20% 20% 20%, 0.5%, 0.5%);
                } 
            }

    @media screen and (max-width: 768px) {
        ul {
            @include grid (80%, repeat(8, auto), 1%, 1%);
                margin: 3%;
                grid-template-areas: 
        "i8"
        "i3"
        "i2"
        "i7"
        "i1"
        "i5"
        "i6"
        "i4"
        ;
            .img8 {
                margin-bottom: 40%;
            }
            .img1 {
                margin-top: -15%;
            }
        }
    }

    @media screen and (max-width: 768px) and (orientation: landscape) {
        ul {
            @include grid (70%, repeat(8, auto), 1%, 1%);
            .img8 {
            margin-bottom: 40%;
            }
        }
    }
}

// MODAL

.modal {

    @media screen and (max-width: 768px) {
    border-radius: 2%;
    width: 80%;
    height: auto;
    margin-top: 50%;
    }

    @media screen and (max-width: 768px) and (orientation:landscape) {
    border-radius: 2%;
    object-fit: contain;
    height: 100%;
    width: 100%;
    margin: 0%;
    }

    @media screen and (min-width: 768px) and (max-width:1200px) {
    border-radius: 2%;
    object-fit: contain;
    height: 100%;
    width: 100%;
    margin: 0%;      
    }
}

.modal__flecha-1 {
    @media screen and (max-width: 768px) {
    width: 5%;
    height: auto;
    position: absolute;
    top: 10vh;
    right: 3vh; 
    }

    @media screen and (max-width: 768px) and (orientation:landscape) {
    width: 5%;
    height: auto;
    position: absolute;
    top: 45vh;
    right: 3vh; 
    }
}

.modal__flecha-2 {
    @media screen and (max-width: 768px) {
    width: 5%;
    height: auto;
    position: absolute;
    top: 10vh;
    right: 43vh;
    transform:rotate(180deg);
    }

    @media screen and (max-width: 768px) and (orientation:landscape) {
        top: 45vh;
        right: 167vh;
        }
}

.modal__cerrar {
    @media screen and (max-width: 768px) {
    width: 6%;
    height: auto;
    position: absolute;
    top: 0vh;
    right: 1%;
    }
}

// CONTACTO

.grid__contacto {
    @media screen and (max-width: 768px) {
    @include grid(100%, 10% auto 5%, 0%, 0%);
    height: 100vh;
    grid-template-areas:
        "header"
        "contacto" 
        "footer";
        .contacto__cuadro {
            @include flex(column,center,center);
            margin:5%;
        }
        .contacto__flex {
            margin: 1%;
            }
            form {
                margin: auto;
                input {
                    right: 0%;
                    font-size: $tmFormularioMQ;
                }
                .formulario__boton {
                    right: 93%;
                }
                textarea {
                    right: 0%;
                    font-size: $tmFormularioMQ;
                }
            }

    @media screen and (max-width: 768px) and (orientation:landscape) {
        @include grid(100%, 15% auto 12%, 1%, 1%);
        .contacto__cuadro {
            @include flex(row,center,center);
            margin:5%;
            }
        }
    }
}

// FOOTER

footer {
    @media screen and (max-width: 768px) {
        .footer__flex {
            position: relative;
        }
}
}

// BIO

.grid__bio {
    @media screen and (max-width: 768px) {
        @include grid(100%, 10% auto auto auto auto auto 5%, 1%, 1%);
        grid-template-areas: 
        "header"
        "imagen"
        "bio"
        "habilidades"
        "ilustracion"
        "desarrollo"
        "footer";
        .section__bio {
            margin: auto;
        }
    }

    @media screen and (max-width: 768px) and (orientation:landscape) {
        @include grid(100%, 15% auto auto auto auto auto 12%, 1%, 1%);
        .img__bio {
            margin-top: 2%;
        }
        .section__desarrollo {
            margin-bottom: 2%;
        }
    }

}