// COLORES

$colorFondo: rgb(232, 233, 235);

$colorHeader: rgb(49, 54, 56);

$colorTextos: rgb(11, 9, 11);

$colorTitulos: rgb(49, 54, 56);

$colorDestacado: rgb(253, 202, 64); 

// FUENTES

$fuenteTextos: 'Raleway', sans-serif;

$fuenteTitulos: 'Poppins', sans-serif;

// TAMAÑOS

$tmTextos: 1rem;
$tmTitulos: 2rem;
$tmFormulario: 1.3rem;