// COLORES

$colorFondo: rgb(232, 233, 235);

$colorHeader: rgb(49, 54, 56);

$colorTextos: rgb(11, 9, 11);

$colorTitulos: rgb(49, 54, 56);

$colorDestacado: rgb(253, 202, 64); 

// FUENTES

$fuenteTextos: 'Raleway', sans-serif;

$fuenteTitulos: 'Poppins', sans-serif;

// TAMAÑOS

$tmDestacado: 5rem;
$tmTextos: 1.2rem;
$tmTitulos: 2rem;
$tmSubTitulos: 1.3rem;
$tmFormulario: 1.3rem;
$tmDestacadoMQ: 1.8rem;
$tmTextosMQ: 0.9rem;
$tmTitulosMQ: 1.1rem;
$tmSubTitulosMQ: 1rem;
$tmFormularioMQ: 1rem;
