// COLORES

$colorFondo: rgb(230, 232, 230);

$colorHeader: rgb(253, 202, 64);

$colorTextos: rgb(8, 7, 8);

$colorTitulos: rgb(55, 114, 255);

$colorDestacado: rgb(223, 41, 53); 

// FUENTES

$fuenteTextos: 'Raleway', sans-serif;

$fuenteTitulos: 'Poppins', sans-serif;

// TAMAÑOS

$tmTextos: 1.5rem;
$tmTitulos: 2.5rem;
$tmFormulario: 1.3rem;